<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360463300441-oeahl92tfdn0e7b4ch6hlt3ibvd60u2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360463300441-oeahl92tfdn0e7b4ch6hlt3ibvd60u2r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>360463300441-hk5e9b8qkiba6qh9g20v9ojrna35pv77.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAR5JLT3eh7B0GWzh5mio2Pc9nBptmZ4IY</string>
	<key>GCM_SENDER_ID</key>
	<string>360463300441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filter101</string>
	<key>PROJECT_ID</key>
	<string>filter101-3b3fe</string>
	<key>STORAGE_BUCKET</key>
	<string>filter101-3b3fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360463300441:ios:4453dd2f0a0a948a39fe48</string>
</dict>
</plist>